/* Signup Page Styles */
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f7fc;
  }
  
  .signup-form-container {
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .signup-heading {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #2c3e50;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
  }
  
  .signup-input-group {
    margin-bottom: 20px;
  }
  
  .signup-label {
    font-size: 16px;
    color: #34495e;
    margin-bottom: 8px;
  }
  
  .signup-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    width: 100%;
  }
  
  .signup-input:focus {
    border-color: #3498db;
  }
  
  .signup-btn {
    background-color: #2ecc71;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .signup-btn:hover {
    background-color: #27ae60;
  }
  
  .signup-btn:disabled {
    background-color: #95a5a6;
    cursor: not-allowed;
  }
  
  .signup-error {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
  }
  /* Signin Page Styles */
.signin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f7fc;
  }
  
  .signin-form-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .signin-heading {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #2c3e50;
  }
  
  .signin-form {
    display: flex;
    flex-direction: column;
  }
  
  .signin-input-group {
    margin-bottom: 20px;
  }
  
  .signin-label {
    font-size: 16px;
    color: #34495e;
    margin-bottom: 8px;
  }
  
  .signin-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    width: 100%;
  }
  
  .signin-input:focus {
    border-color: #3498db;
  }
  
  .signin-btn {
    background-color: #2ecc71;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .signin-btn:hover {
    background-color: #27ae60;
  }
  
  .signin-btn:disabled {
    background-color: #95a5a6;
    cursor: not-allowed;
  }
  
  .signin-error {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
  }
  
  .register-message {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.9rem;
    color: #555;
  }
  
  .register-link {
    color: #007bff;
    text-decoration: none;
  }
  
  .register-link:hover {
    text-decoration: underline;
  }
  